*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
body{
	font-family: montserrat;
/*	height: 500vh;
	background: linear-gradient(to bottom,red,blue);*/
}
header{
	/*position: fixed;*/
	width: 100%;
	z-index: 1000
}
.container{
	max-width: 1366px;
	margin: auto;
	width: 93%;
	padding: 10px;
}
.row, .menu_links{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.top_header{
	background-color: #07162D;
}
.bottom_header{
	background-color: #fff;
}
.bottom_header_container{
	max-width: 900px;
	margin: auto;
	width: 93%;
	padding: 10px;
}
.bottom_header a{
	color: #07162D;
	font-size: 14px;
}
.logo{
	padding: 12px 0;
}
.top_header a{
	color: #fff;
	font-size: 16px;
	font-family: montserrat;
}
.menu_links > div{
	padding: 5px 20px;
}
.phone_btn{
	justify-content: space-between;
}
.phone_btn > div{
	padding: 10px 10px;
}
.btn{
	border: none;
	outline: none;
	width: 200px;
	height: 40px;
	background-color:#FF7668;
	color: #fff;
	border-radius: 6px;
	font-size: 14px;
	font-weight: 400;
	transition: .2s all ease;
}
.btn:hover{
	/*filter: drop-shadow(0 5px 5px rgba(255,255,255,1));*/
}
.first_screen{
	background-color:#53A2A9;
	height: 100vh;
	position: relative;
}
.second_screen{
	/*background-color:#53A2A9;*/
	height: 100vh;
	position: relative;
}
.content{
	position: absolute;
	top: 54%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 95%;
	text-align: center;
	margin: auto;
}
h1{
	font-size: calc(1em + 2vw);
	font-weight: 400;
	color: white;
}
.crm_img{
	margin: auto;
	text-align: center;
	padding: 30px 0;
}
.main_text{
	width: 50%;
    margin: auto;
	color: #fff;
	padding: 0 0 20px 0;
}
.first_btn{
	border: 4px solid #fff;
	outline: none;
	width: 200px;
	height: 40px;
	background-color:rgba(0,0,0,0);
	color: #fff;
	border-radius: 6px;
	font-size: 14px;
	font-weight: 400;
	transition: .2s all ease;
}	
.left_side{
	width: 60%;
	background-color:rgba(89, 163, 169, .2);
	height: 100vh;
}
.right_side{
	width: 40%;
	background-color:#fff;
	height: 100vh;
	z-index: -1;
}
.rs_img{
	border-radius: 6px;
	border: 10px solid #fff;
	filter: drop-shadow(0 3px 6px rgba(0,0,0,.16));
	width: 30vw;
	max-width: 600px;
	margin-left: -50px;
	margin-top: 50px;
}
.second_container{
	position: absolute;
	max-width: 1366px;
	margin: auto;
	width: 93%;
	padding: 10px;
	top: 45%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.slide_text{
	padding: 50px;
}
.slide_text .btn{
	margin: 30px 0 0 0;
}
.second_title{
	font-size: calc(1em + 2vw);
	color: #06232B;
}
.second_text{
	font-size: calc(1em + .2vw);
	color: rgba(6, 35, 43, .2);
	padding: 10px 0 0 5px;
}
.slide_subtitle{
	font-size: calc(1em + .2vw);
	color: rgba(6, 35, 43, 1);
	padding: 10px 0 0 0;
}
.slide_inf{
	font-size: calc(1em + .2vw);
	padding: 30px 0 0 0;
}
.slide{
	background-color:#fff;
	width: 75%;
	border-radius: 6px;
	filter: drop-shadow(25px 16px 42px rgba(0,0,0,.2));
	margin-top: 50px;
}
@media (max-width: 1400px){
	.row, .menu_links{
		justify-content: space-around;
	}
	.content{
		top: 57%;
	}
	.crm_img img{
		width: 25%;
	}
	.second_screen{
		/*background-color:#53A2A9;*/
		height: 80vh;
		position: relative;
	}
	.left_side{
		width: 60%;
		background-color:rgba(89, 163, 169, .2);
		height: 80vh;
	}
	.right_side{
		width: 40%;
		background-color:#fff;
		height: 80vh;
		z-index: -1;
	}
}
@media (max-width: 1200px){
	.content{
		top: 45%;
	}
	.crm_img img{
		width: 50%;
	}
	.rs_img{
		border-radius: 6px;
		border: 10px solid #fff;
		filter: drop-shadow(0 3px 6px rgba(0,0,0,.16));
		width: 30vh;
		margin-left: -50px;
		margin-top: 50px;
	}
	.content{
		position: absolute;
		top: 58%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 95%;
		text-align: center;
		margin: auto;
	}
	.first_screen{
		background-color:#53A2A9;
		height: 80vh;
		position: relative;
	}
	.second_screen{
		height: 50vh;
		position: relative;
	}
		.left_side{
		width: 60%;
		background-color:rgba(89, 163, 169, .2);
		height: 50vh;
	}
	.right_side{
		width: 40%;
		background-color:#fff;
		height: 50vh;
	}
	.second_container{
		position: absolute;
		max-width: 1366px;
		margin: auto;
		width: 93%;
		padding: 10px;
		top: 45%;
		left: 50%;
		transform: translate(-50%,-50%);
	}

}
@media (max-width: 800px){
	.menu_links > div{
	padding: 10px 10px 20px 10px;
	}
	header{
		position: relative;
	}
	.content{
		padding: 50px  0;
		position: relative;
		top: 0;
		left: 0;
		transform: none;
		width: 95%;
	}
	.main_text{
		width: 80%;
	    margin: auto;
		color: #fff;;
	}
	.second_text{
		font-size: calc(.2em + 2vw);
		color: rgba(6, 35, 43, .5);
		/*margin-left: 10px;*/
	}
	.second_container{
		position: relative;
		max-width: 1366px;
		margin: auto;
		width: 93%;
		padding: 50px 20px;
		top: 0;
		left: 0;
		transform: translate(0);
	}
	.slide{
		background-color:#fff;
		width: 100%;
		border-radius: 6px;
		filter: drop-shadow(25px 16px 42px rgba(0,0,0,.2));
		margin-top: 10px;
	}
	.left_side, .right_side{
		display: none;
	}
	.slide_text{
		padding: 30px 20px;
	}
	.first_screen {
	    background-color: #53A2A9;
	    height: auto;
	    position: relative;
	}

		
}
@media (max-width: 320px){
	header .row, .menu_links{
		flex-direction: column;
	}
	.bottom_header .menu_links{
		flex-direction: row;
	}
}
